body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1{
    background-color:red;
    height: 15vh;
    max-height: 15vh;
    min-height: vh;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
.h1 img{
    left: 28rem;
    position: absolute;
    display: flex;
    border-radius: 50%;
    width: 15vh ;
    height:15vh;
}
.h2{
    background-color: black;
    height: 10vh;
    max-height: vh;
    min-height: vh;
    width: 100%;
    max-width: vh;
    min-width: vh;
    position: absolute;
}
.h2 ul{
    align-content: center;
    justify-content: space-evenly;
    display: flex;
    color: white;

}
.h2 ul li{ 
    font-size: 23px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.h2 ul li a{
     color: white;
}
.h2 ul li a:hover{
    font-size:75px;
    transition: 1s;
    color:brown;
}