body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h1{
    background-color: gray;
    height: 15vh;
    max-height: 15vh;
    min-height: vh;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
.h1 img{
    left: 28rem;
    position: absolute;
    display: flex;
    width: 14.8vh ;
    height: 14.8vh;
    animation-duration: 3s;
    animation-name: spin;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes spin{
    0%{

    }
    50%{
        scale: 1;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 50%;
    }
}
.h2{
    background-color: black;
    height: 10vh;
    max-height: 10vh;
    min-height: 10vh;
    width: 100%;
    max-width:100%;
    min-width: 100%;
    position: absolute;
}
.h2 ul{
    justify-content:space-evenly;
    display: flex;
    color: white;
     display: flex;
}
.h2 ul li{

    list-style: none;
}
.h2 ul li a{
    font-size: 23px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    color: white;
}
.h2 ul li a:hover{
    font-size:60px;
    transition: 1s;
    color:brown ;
}
.h3{
    margin: auto;
    background-color: gray;
    width: 130vh;
    max-width: 130vh;
    min-width: 130vh;
    height: 65vh;
    min-height: 65vh;
    max-height: 65vh;
    padding: 10vh;
}
.h3 h3{
    background-color: white;
    text-align: center;
    border-radius: 2rem;
    width: 14vh;
    border-bottom: 100vh;
    padding: 0.2rem 0.2rem;
    border: 0.5vh black solid;
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}
#h31{
    max-width:80vh ;
    min-width:80 vh;
    width:80vh;
    height: 28.1vh;
    min-height: 28.1vh;
    max-height: 28.1vh;
    background-color: black;
    margin: 10px;
    float: left;
    padding: 0px;
}
.h311{
    background-color: white;
    width: 88%;
    height: 66%;
    padding: 3%;
    margin: 3%;
    border-radius: 15px;
}
.h311 img{
    height: 100%;
    width: 100%;
    border-radius: 15px;

}
.h311 img:hover{
    transition: 3s;
    transform: rotateY(360deg);
}
.h3111{
    font-size: 15px;
    font-weight: bolder;
    color: brown;
}
#h32{
    display: flex;
    background-color: black;
    width: 40vh;
    min-width: 40vh;
    max-width:40vh ;
    height:23.7vh;
    min-height: 23.7vh;
    max-height: 23.7vh;
    margin: 29px;
    padding: 18px;
}
.h321{
background-color: white;
height: 78%;
width: 96%;
padding: 6%;
margin: 1%;
border-radius: 15px;
}
.h321 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.h321 img:hover{
    transition: 3s;
    transform: rotateY(360deg);
}
.h322{
    font-size: 15px;
    font-weight: bolder;
    color:brown;
}
.h3 h4{
    margin: 20px;
    background-color: white;
    text-align: center;
    border-radius: 2rem;
    width: 14vh;
    border-bottom: 100vh;
    padding: 0.2rem 0.2rem;
    border: 0.5vh black solid;
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}
#h33{
    background-color:black;
    width:40vh;
    max-width:40vh;
    min-width:40vh;
    height: 25vh;
    min-height: 25vh;
    max-height:25vh ;
    margin: 2px;
    float: left;
}
.h331{
    background-color: white;
    width: 28.6vh;
    height: 15vh;
    margin: 7%;
    border-radius: 15px;
    padding: 6%;
}
.h331 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.h331 img:hover{
    transition: 3s;
    transform: rotateY(360deg);
}
.h332{
    font-size: 15px;
    font-weight: bolder;
    color: brown;
}
#h34{
    display: flex;
     margin: 9px;
     padding: vh;
    background-color: black;
    width: 40vh;
    min-width:  40vh;
    max-width:  40vh;
    height: 24vh;
    max-height:  24vh;
    min-height:  24vh;
    float: left;
}
.h341{
     background-color: white;
    width: 29.8vh;
    height: 14vh;
    margin: 7%;
    border-radius: 15px;
    padding: 6%;
}
.h341 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.h341 img:hover{
     transition: 3s;
    transform: rotateY(360deg);
}
.h342{
     font-size: 15px;
    font-weight: bolder;
    color: brown;
}
#h35{
    display: flex;
     margin: 21px;
    background-color: black;
    width: 40vh;
    max-width: 40vh;
    min-width: 40vh;
    height: 25vh;
    max-height:25 vh;
    min-height: 25vh;
}
.h351{
      background-color: white;
    width: 29.6vh;
    height: 14vh;
    margin: 7%;
    border-radius: 15px;
    padding: 6%;
}
.h351 img{
width: 100%;
height: 100%;
border-radius: 15px;
}
.h351 img:hover{
     transition: 3s;
    transform: rotateY(360deg);
}
.h352{
     font-size: 15px;
    font-weight: bolder;
    color: brown;
}
